setuptools
git+https://github.com/openai/CLIP
torch
torchvision
pillow
pinecone
tqdm
langgraph
tensorflow.keras
tavily
langchain-openai
langchain-core
langchain
tensorflow == 2.13.0
python-dotenv
opencv-python-headless
IPython
joblib
mtcnn
tf_keras
