setuptools
git+https://github.com/openai/CLIP
torch
torchvision
pillow
pinecone
tqdm
langgraph
tensorflow.keras >= 2.8.4
tavily
langchain-openai
langchain-core
langchain
tensorflow >= 2.8.4
opencv-python-headless
IPython
joblib
mtcnn
tf_keras
